.button {
  border: 0.5px solid #dddfe1;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.01em;
  color: #1e2736;
  padding: 4px 12px 5px 12px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: lighten(#dddfe1, 10);
  }
  &:active {
    background-color: lighten(#dddfe1, 5);
  }
}

.primary {
  color: #ffffff;
  background: #2d9cdb;
  border: none;

  &:hover {
    background-color: darken(#2d9cdb, 10);
  }
  &:active {
    background-color: darken(#2d9cdb, 5);
  }
}
