@import 'styles/vars.module';

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-track {
  background: mix($primary-color, #fff, 20%);
}

html,
body {
  background-color: #fff;
  color: $text-color;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
}
