@import "styles/vars.module";

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: $primary-color;
}

::-webkit-scrollbar-track {
  background: mix($primary-color, white, 20%);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  min-height: 100vh;
  color: $text-color;
}

* {
  box-sizing: border-box;
}

.root {
  min-height: 100vh;
}
