@import "../../../../styles/vars.module";

.noFiles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .icon {
    margin-bottom: 32px;
  }
  h2 {
    font-size: 14px;
    color: #4F4F4F;
    margin: 0 0 20px 0;
  }
  p {
    font-size: 14px;
    margin: 0;
    color: $text-color;
  }
}


