@import '../../../../styles/vars.module';

.button {
  background-color: transparent;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  padding: 10px;

  &:hover {
    background-color: #e2e2e2;
  }

  &.active {
    background-color: lighten($primary-color, 30);
  }
}
