@import '../../styles/vars.module';

.root {
  background-color: #fff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  z-index: 5;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;

  button {
    left: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  h2 {
    font-size: 2rem;
  }
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 20px;

  .field {
    margin-bottom: 10px;
  }

  label {
    display: block;
    font-size: 15px;
    margin-bottom: 7px;
  }
}

.logOut {
  margin-top: auto;

  button {
    display: block;
    width: 100%;
  }
}

input {
  border: 2px solid lighten($text-color, 40);
  border-radius: 0;
  display: block;
  height: 30px;
  outline: none;
  padding: 5px;
  width: 100%;

  &:active,
  &:focus,
  &:hover {
    border: 2px solid $primary-color;
  }
}
