@import "../../styles/vars.module";


.root {
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #e8e8e8;
}

.bar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: $primary-color;
  transition: width .3s linear;
}
