@import '../../styles/vars.module';

.root {
  background-color: #e8e8e8;
  height: 3px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.bar {
  background-color: $primary-color;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: width 0.3s linear;
}
