.root {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.toolbar {
  padding: 23px 26px 21px;
}

.backButton {
  margin-bottom: 10px;
}

.imageWrapper {
  background-color: #212121;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.image {
  height: 100%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: auto;
}
